<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="template.html"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
<head>
<meta charset="utf-8">
<title>Cinema</title>
</head>
<body>
	<div layout:fragment="pageContent">
		<div style="text-align: center">
			<br>	<br>	<br>	<br>	<br>	

			<br>	
			<h3>Gestion des cinémas</h3>
			<br>
			<h3> Ayoub JEBJI </h3>
			<br>
			<h3> EMSI Centre 4IIR G2</h3>
			<br>
		</div>
	</div>
</body>
</html>